<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TMDBAccessTokenExample</key>
	<string>YOUR_TMDB_ACCESS_TOKEN_HERE</string>
	<key>TMDBAccessToken</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmZGZlZTQyYjU1ZmQzNjgwYmNjZWJmZjg2YTUwMjI5YiIsIm5iZiI6MTc4MTc4NzQ1NS4yMDIsInN1YiI6IjZhMzNlYjNmOGM3ZmMzMWJhNWU2ZTliNiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.8OWLXLStbBMyUt5kfswIwkfZHxp8uta6iRmDqcLwYv8</string>
</dict>
</plist>
